Get Stock Details.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Get_Ticker_List').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "68791e49-9688-b96e-4dfc-81baacb7ab6b",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "pipelineRunId": {
                    "value": {
                      "value": "@pipeline().RunId",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "api": {
                    "value": {
                      "value": "@activity('Start Transfer').output.firstRow.Api",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "stockmarket": {
                    "value": {
                      "value": "@activity('Start Transfer').output.firstRow.Stockmarket",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "stock": {
                    "value": {
                      "value": "@activity('Start Transfer').output.firstRow.SourceObjectName",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "startDate": {
                    "value": {
                      "value": "@activity('Start Transfer').output.firstRow.LowWatermarkDateEH",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "endDate": {
                    "value": {
                      "value": "@activity('Start Transfer').output.firstRow.NewLowWatermarkDateEH",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get Stock Details",
              "dependsOn": [
                {
                  "activity": "Start Transfer",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "sqlReaderStoredProcedureName": "[Core].[StartTransfer]",
                  "storedProcedureParameters": {
                    "HighWatermark": {
                      "type": "DateTime",
                      "value": {
                        "value": "@item().HighWaterMark",
                        "type": "Expression"
                      }
                    },
                    "PipelineRunId": {
                      "type": "String",
                      "value": {
                        "value": "@pipeline().RunId",
                        "type": "Expression"
                      }
                    },
                    "SourceObjectName": {
                      "type": "String",
                      "value": {
                        "value": "@item().SourceObjectName",
                        "type": "Expression"
                      }
                    }
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "AzureSqlTable",
                  "typeProperties": {
                    "database": "StockMetaData"
                  },
                  "schema": [],
                  "externalReferences": {
                    "connection": "4b26aab6-5a3b-4f10-bc0e-52a7bbaabd82"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Start Transfer",
              "dependsOn": []
            },
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "sqlReaderStoredProcedureName": "[Core].[EHDatabaseLoaded]",
                  "storedProcedureParameters": {
                    "RowsInsertedKQL": {
                      "type": "Int32",
                      "value": {
                        "value": "@activity('Get Stock Details').output.result.exitValue",
                        "type": "Expression"
                      }
                    },
                    "SourceObjectName": {
                      "type": "String",
                      "value": {
                        "value": "@item().SourceObjectName",
                        "type": "Expression"
                      }
                    },
                    "StartTime": {
                      "type": "DateTime",
                      "value": {
                        "value": "@activity('Start Transfer').output.firstRow.StartTime",
                        "type": "Expression"
                      }
                    }
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "AzureSqlTable",
                  "typeProperties": {
                    "database": "StockMetaData"
                  },
                  "schema": [],
                  "externalReferences": {
                    "connection": "4b26aab6-5a3b-4f10-bc0e-52a7bbaabd82"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "EHDatabaseLoaded",
              "dependsOn": [
                {
                  "activity": "Get Stock Details",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "sqlReaderStoredProcedureName": "[Core].[ErrorInTransfer]",
                  "storedProcedureParameters": {
                    "ErrorMessage": {
                      "type": "String",
                      "value": {
                        "value": "@activity('Get Stock Details').output.result.error.evalue",
                        "type": "Expression"
                      }
                    },
                    "SourceObjectName": {
                      "type": "String",
                      "value": {
                        "value": "@item().SourceObjectName",
                        "type": "Expression"
                      }
                    },
                    "SparkMonitoringURL": {
                      "type": "String",
                      "value": {
                        "value": "@activity('Get Stock Details').output.SparkMonitoringURL",
                        "type": "Expression"
                      }
                    },
                    "StartTime": {
                      "type": "DateTime",
                      "value": {
                        "value": "@activity('Start Transfer').output.firstRow.StartTime",
                        "type": "Expression"
                      }
                    }
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "AzureSqlTable",
                  "typeProperties": {
                    "database": "StockMetaData"
                  },
                  "schema": [],
                  "externalReferences": {
                    "connection": "4b26aab6-5a3b-4f10-bc0e-52a7bbaabd82"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "ErrorInTransfer",
              "dependsOn": [
                {
                  "activity": "Get Stock Details",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Get_Ticker_List",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderStoredProcedureName": "[Core].[GetLoadObjects]",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "AzureSqlTable",
            "typeProperties": {
              "database": "StockMetaData"
            },
            "schema": [],
            "externalReferences": {
              "connection": "4b26aab6-5a3b-4f10-bc0e-52a7bbaabd82"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get_Ticker_List",
        "description": "Get all tickers incl. Watermark",
        "dependsOn": []
      },
      {
        "type": "PBISemanticModelRefresh",
        "typeProperties": {
          "method": "post",
          "groupId": "9356cf30-1611-4a5c-94b0-f2af55effd60",
          "datasetId": "6f1412ac-e572-4c0f-b2a8-85ff59bd5d83",
          "commitMode": "Transactional",
          "maxParallelism": 6,
          "objects": [],
          "waitOnCompletion": true,
          "operationType": "SemanticModelRefresh"
        },
        "externalReferences": {
          "connection": "c36791a4-d302-4f76-b7da-9455e140ff09"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Refresh Use Case Semantic Model",
        "dependsOn": [
          {
            "activity": "ForEach1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}